.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
}

button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

h1, h2, h3, h4, h5, h6 {
    color: #737171;
    font-size: 48px;
    font-family: ‘Signika’, sans-serif;
    padding-bottom: 10px;
    text-align: center;
}

p {
    font-family: ‘Inder’, sans-serif;
    line-height: 28px;
    margin-bottom: 15px;
    color: #666;
    text-align: center;
}

a {
    color: #ff4411;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    text-align: center;
}

a:hover { color: #a03c21 }

.date { float: left }

.author { float: right }

.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin-bottom: 8px; }

.meta-info { padding: 5px; overflow: hidden; }

.meta-info p { font-family: ‘Fenix’, serif; font-style: italic; color: #666; font-size: 16px; }

td {
    text-align: center;
    align-content: center;
}

table {
    text-align: center;
    align-content: center;
    display: inline-block;
}

tr {
    text-align: center;
    align-content: center;
}